{{! show owner info in sidebar }}

<div class="gxx_sidebar_i">
    <a class="gxx_myface"><img src="{{asset "img/me4.jpg"}}" /></a>
    <div class="gxx_myname"><b>Mihajlo Simevski</b><br /><span>Front End，MEAN developer</span></div>
</div>
<div class="gxx_sidebar_i">
    <div class="gxx_mycontact">
        <a class="gxxicon-facebook" href="https://www.facebook.com/msimevski" target="_blank" title="Facebook"></a>
        <a class="gxxicon-github" href="https://github.com/smihajlo" target="_blank" title="Github"></a>
        <a class="gxxicon-bitbucket" href="https://bitbucket.org/smihajlo" target="_blank" title="Bitbucket"></a>
        <a class="gxxicon-mail" href="mailto://msimevskii@gmail.com" target="_blank" title="E-mail"></a>
    </div>
</div>
<!--
<div class="gxx_sidebar_i">
    <div class="gxx_summary">
        {{#get "tags" limit="3" filter="name:'笔记',name:'作品',name:'杂货'" include="count.posts" order="count.posts desc"}}
            {{#foreach tags}}
                <dl>
                    <dd>{{count.posts}}</dd>
                    <dt>{{name}}</dt>
                </dl>
            {{/foreach}}
        {{/get}}
    </div>
</div>
-->